.list-cell:odd {
    -fx-background: -fx-control-inner-background;
}

.message-list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 0em 0em 0em 0em;
}

/* Selected when control is not focused */
.chatroom-listview > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background: #0096C950;
    -fx-text-fill: red;
}

/* focused cell (keyboard navigation) not used, remove unnecessary border
*/
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: white;
    -fx-background-insets: 0;
}
