.list-cell:odd {
    -fx-background: -fx-control-inner-background;
}

.message-list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 0em 0em 0em 0em;
}

/* Selected when control is not focused */
.chatroom-listview > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background: #006393b3;
}

/* focused cell (keyboard navigation) not used, remove unnecessary border
*/
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: white;
    -fx-background-insets: 0;
}


.split-pane > .split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em; /* 0 3 0 3 */
}
/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: -fx-background;
   -fx-background-insets: 0;
}